<div class="container wrapper">
  <h1>À propos</h1>

  <p>Vos Gâteaux est né grâce à l'initiative de Maud Arditti. <br>
  Il s'agit d'une chaîne de solidarité pour le personnel soignant des hôpitaux.</p>
</div>
