<div class="container wrapper">
  <h1>À propos</h1>

  <p>Vos Gâteaux est né grâce à l'initiative de Maud Arditti. <br>
  Il s'agit d'une chaîne de solidarité pour le personnel soignant des hôpitaux.</p>
<!--
  <h2>Nos teams</h2>
  <h4>À Paris</h4>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <img src="./logos-teams/myrtilles.png" alt="">
      <p>MYRTILLES</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>BARBE A PAPA</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>PISTACHE</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>CARAMEL</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>GRENADE</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>LEMON</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>PINK</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>REGLISSE</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>PASSION</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>BUBBLE GUM</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>CITRON VERT</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>AVOCADO</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>BLUE</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>DRAGIBUS</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>ISPAHAN</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p>MINT</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <p>CHOCOLAT</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p></p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p></p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p></p>
    </div>
  </div>

  <h4>En région parisienne</h4>

  <h4>En province</h4>

  <h4>À l'international</h4>
</div>
 -->
